<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>httpurl</key>
	<string>http://s-82812.gotocdn.com/mars/</string>
	<key>hcxurl</key>
	<string>http://192.168.0.114:8080/mars</string>
	<key>clurl</key>
	<string>http://192.168.0.112:8080/mars</string>
	<key>onlineurl</key>
	<string>http://s-82812.gotocdn.com/mars/</string>
</dict>
</plist>
